#
#Mon Aug 22 23:06:52 MSD 2011
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=C\:/CooCox/CoIDE/flash/STM32F10x_MD_128.elf
org.coocox.codebugger.gdbjtag.core.resetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.core.jflashtool=
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=
org.coocox.codebugger.gdbjtag.core.adapter=Other-Adapter
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.gdbinitscript=monitor interface JTAG\r\nmonitor endian little\r\nmonitor speed auto\r\nmonitor flash device \= STM32F100RB\r\nmonitor flash breakpoints \= 1\r\nmonitor flash download \= 1\r\nload "C\:/CooCox/CoIDE/workspace/discovery_modbus/Debug/bin/discovery_modbus.elf"\r\nmonitor reset\r\ntb main\r\ncontinue
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
